/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 100px 0;
}

.slider {
    height: 80vh;
}

.slider img {
    height: 80vh;
}

.about-bg {
    background: #F4FAFD;
}

.register-card {
    height: 200px;
}

.company img {
    width: 100px;
}